%div
  %a{:href => '/new'} Add Virtual Host
  
%div{:style => "clear: both;"}
  - if @virtual_hosts.empty?
    %h6
      No records were found
  - else
    %table
      %tbody
        %tr
          %th Name
          %th Server name
          %th Document Root
          %th Rails Environment
    
        = partial(:virtual_host, :collection => @virtual_hosts)
